# Default ignored files
/shelf/
/workspace.xml
**.gradle/

../.gradle/
../.idea/
../DriverMileageTracker-backend/build/
../build/
/vcs.xml
/modules.xml
/misc.xml
/jarRepositories.xml
/gradle.xml
modules/
